<!DOCTYPE HTML>
<html ng-app="equisd">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <title>equis d</title>
 <link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
 <link rel="stylesheet" href="<%= url("css/core/app.css")%>">
</head>
<body class="page-status">
 <h3>Status</h3>
 <h1>200</h1>
 <h4>Params: <%= @param_passed %></h4>
 <hr>
 <h5>Todos los parametros: <%= @params %></h5>
</body>
</html>
